@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  margin: 0;
  background-color: rgb(66, 154, 255) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.handwrite-font {
  font-family: 'Pacifico', cursive !important;
}

.bold-text {
  font-family: 'Oswald', sans-serif;
}

.poppins {
  font-family: 'Oswald', sans-serif;
}

.dancing-font {
  font-family: 'Dancing Script', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-scale:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}